## Get the details from Ankit.

LANGCHAIN_TRACING_V2 = "true"
LANGCHAIN_API_KEY = ""
LANGCHAIN_PROJECT = ""

OPENAI_API_KEY = ""
OPENAI_EMBEDDING_MODEL ="text-embedding-3-large"

NEO4J_URI=
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=
AURA_INSTANCEID=
AURA_INSTANCENAME=